In [1]:
import pandas as pd

In [3]:
#Seaborn  é uma biblioteca Python para visualização de dados baseada em matplotlib.
import seaborn as sns

In [4]:
tips = sns.load_dataset('tips')

In [5]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

# Convertendo dados

In [7]:
tips['total_bill_str'] = tips['total_bill'].astype(str)

In [9]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill        244 non-null float64
tip               244 non-null float64
sex               244 non-null category
smoker            244 non-null category
day               244 non-null category
time              244 non-null category
size              244 non-null int64
total_bill_str    244 non-null object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.1+ KB

In [10]:
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing' # forçou a conversão desses valores para object
tips_sub_miss

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

  total_bill   tip     sex smoker  day    time  size total_bill_str
0      16.99  1.01  Female     No  Sun  Dinner     2          16.99
1    missing  1.66    Male     No  Sun  Dinner     3          10.34
2      21.01  3.50    Male     No  Sun  Dinner     3          21.01
3    missing  3.31    Male     No  Sun  Dinner     2          23.68
4      24.59  3.61  Female     No  Sun  Dinner     4          24.59
5    missing  4.71    Male     No  Sun  Dinner     4          25.29
6       8.77  2.00    Male     No  Sun  Dinner     2           8.77
7    missing  3.12    Male     No  Sun  Dinner     4          26.88
8      15.04  1.96    Male     No  Sun  Dinner     2          15.04
9      14.78  3.23    Male     No  Sun  Dinner     2          14.78

In [12]:
tips_sub_miss.dtypes

total_bill          object
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
total_bill_str      object
dtype: object

In [14]:
tips_sub_miss['total_bill'].astype(float) # Se você tentar converte pelo metodo astype, vai dar erro

ValueError: could not convert string to float: 'missing'

In [18]:
pd.to_numeric(tips_sub_miss['total_bill'], errors = 'ignore') # forçando a conversão dos valores. Porém, continua como String

0      16.99
1    missing
2      21.01
3    missing
4      24.59
5    missing
6       8.77
7    missing
8      15.04
9      14.78
Name: total_bill, dtype: object

In [21]:
pd.to_numeric(tips_sub_miss['total_bill'], errors = 'coerce') # forçando ainda mais a conversão dos valores

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64